boto==2.48.0
bz2file==0.98
certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
functools32==3.2.3.post2
gensim==2.3.0
idna==2.6
lxml==3.8.0
matplotlib==2.0.2
nltk==3.0.0
numpy==1.21.0
olefile==0.44
pandas==0.20.3
Pattern==2.6
Pillow==4.2.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
python-tk
requests==2.18.4
scikit-learn==0.19.0
scipy==0.19.1
six==1.10.0
smart-open==1.5.3
subprocess32==3.2.7
urllib3==1.22
wordcloud==1.3.1
npyscreen
hdbscan
future
scikit-multilearn